*{
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 0px) and (max-width: 400px) {

	.mobile{
		width: 400px;
		margin: 0 auto;
	}
	.headermobile{
		width: 100%;
		background: #0F1629;
		height: 70px;
	}
	.menumobile{
		width: 100%;
		background: #EF3D4D;
		height: 70px;
	}
	.heromobile{
		width: 100%;
		background: #4C86C6;
		height: 210px;
	}
	.mainmobail{
		width: 100%;
		background: #24344B;
		height: 210px;
	}
	.bannermobail{
		width: 100%;
		background: #FDD168;
		height: 140px;
	}
	.extramobile{
		width: 100%;
		background: #4DBD97;
		height: 140px;
	}
	.imagemobile{
		width: 100%;
		background: #C1E4E6;
		height: 140px;
	}
}

@media screen and (min-width: 401px) and (max-width: 900px) {
 	
 	.planshet{
 		width: 900px;
 		margin: 0 auto;
 	}
 	.headerplanshet{
		width: 100%;
		background: #0F1629;
		height: 70px;
	}
	.heroplanshet{
		height: 280px;
		width: 100%;
		background: #4C86C6;
	}
	.menuplanshet{
		width: 25%;
		height: 550px;
		background: #EF3D4D;
		float: left;
	}
	.rightplanshet{
		width: 75%;
		height: 500px;
		display: flex;
		flex-wrap: wrap;
		float: right;
		
	}
	.mainplanshet{
		width: 100%;
		height: 300px;
		background: #24344B;
	}
	.bannerplanshet{
		width: 100%;
		height: 125px;
		background: #FDD168;
	}
	.extraplanshet{
		width: 75%;
		height: 125px;
		background: #4DBD97;
	}
	.imageplanshet{
		width: 25%;
		height: 125px;
		background: #C1E4E6;
	}
}
@media screen and (min-width: 901px) {
	.desctop{
		width: 901px;
		margin: 0 auto;
	}
	.headerdesctop{
		width: 100%;
		height: 70px;
		background: #0F1629;
		display: flex;

	}
	.menudesctop{
		width: 75%;
		height: 70px;
		background: #EF3D4D;
		float: right;
		
	}
	.herodesctop{
		width: 100%;
		height: 420px;
		background: #4C86C6;
	}
	.maindesctop{
		width: 50%;
		height: 300px;
		background: #24344B;
		float: left;
	}
	.rightdesctop{
		width: 50%;
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		
	}
		
	.imagedesctop{
		width: 50%;
		height: 150px;
		background: #4DBD97;
	}
	.extradesctop{
		width: 50%;
		height: 150px;
		background: #C1E4E6;
	}
	.bannerdesctop{
		width: 100%;
		height: 150px;
		background: #FDD168;
	}
	.block1desctop  {
		width: 50%;
		height: 150px;
		
	}
}
